<!Doctype html>
<html>
    <head>
        <title>Ant Framework</title>
        <link href="css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo" rel="stylesheet">
    </head>
    <body>
        <div id="Header" class="Content">
            Ant Framework
        </div>
        <div class="Content ContentBox">
            <p>Hi! Now you are here and use Ant Framework. This is a great honor for me and I should thank you for that.</p>
            <p>But where is here? What is Ant? Probably you know, PHP is a greate programming language and has many users around the world. ‌Most of the times that we want to create a website with PHP but we can't, if we want to create a website with static variables that shared between users or... </p>
            <p><strong>And Ant Framework emerges!</strong></p>

            <span class="RightLine">
                <p><strong>A. A. Aslani,&nbsp;&nbsp;&nbsp;<br> Creator of ANT</strong></p>
            </span>
        </div>
    </body>
</html>
